---
import CardCurso from './CardCurso.astro';
---

<div class="container mx-auto pb-20">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-12">
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    <div class="flex justify-center">
      <a href="/cursos/detalleCurso"><CardCurso /></a>
    </div>
    
    <!-- Agrega más tarjetas si es necesario -->
  </div>
</div>
