<header class="bg-customBlue text-white py-4">
  <div class="container mx-auto flex flex-row justify-between items-center px-2 py-4 space-x-0">
    <!-- Logo y Título en columna en pantallas pequeñas y fila en pantallas grandes -->
    <div class="flex gap-2 items-center text-left md:flex-row md:items-center">
      <!-- Logo con tamaño ajustado para pantallas móviles -->
      <img src="https://github.com/AxelMaidana/Colegio-de-Enfermeria-del-Chaco/blob/master/public/cech-logo.png?raw=true" alt="Logo CECH" class="h-12 w-auto md:h-16" />
      <!-- Título alineado a la derecha de la imagen en móviles -->
      <h1 class="text-left md:text-left text-xs md:text-sm font-bold leading-tight md:leading-tight">
        Colegio de Enfermería<br>
        <span class="block text-left md:text-left">del Chaco</span>
      </h1>
    </div>

    <!-- Botones ajustados para móviles, en fila en pantallas grandes -->
    <div class="flex flex-col space-y-2 md:space-y-0 md:flex-row md:space-x-2">
      <button class="bg-customBlue border-2 border-[#00a6ce] text-white py-1 px-2 rounded-full text-xs md:text-sm h-8 w-28 md:w-auto">
        REGÍSTRATE
      </button>
      <button class="bg-[#00a6ce] border-2 border-[#00a6ce] text-white py-1 px-2 rounded-full text-xs md:text-sm h-8 w-28 md:w-auto">
        INICIAR SESIÓN
      </button>
    </div>
  </div>
</header>
