<!-- Menú de navegación -->
<nav class="bg-customGreen rounded-b-xl shadow-lg w-full z-50 relative">
    <div class="container mx-auto py-1">
      <div class="flex items-center justify-between">
        <!-- Botón del menú para dispositivos móviles -->
        <button class="block md:hidden text-white focus:outline-none" id="menu-toggle">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
  
        <!-- Menú de navegación para escritorio y móvil -->
        <ul class="hidden md:flex md:justify-center md:space-x-4 text-white">
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Inicio</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/institucional" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Institucional</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/dictamenes" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Dictámenes</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/matriculados" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Matriculados Activos</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/novedades" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Novedades</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/nombramientos" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Nombramientos</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/tramites" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Trámites</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/becas" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Becas</a>
          </li>
          <li class="flex items-center border-r border-black border-opacity-20 last:border-0">
            <a href="/academicas" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Act. Académicas</a>
          </li>
          <li class="flex items-center">
            <a href="/contacto" class="hover:bg-green-600 text-white py-2 px-4 transition duration-300">Contacto</a>
          </li>
        </ul>
        
        <!-- Menú desplegable para móviles -->
        <ul class="md:hidden absolute top-full left-0 w-full bg-customGreen border-t border-black border-opacity-20 mt-2 hidden" id="mobile-menu">
          <li class="border-b border-black border-opacity-20">
            <a href="/" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Inicio</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/institucional" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Institucional</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/dictamenes" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Dictámenes</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/matriculados" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Matriculados Activos</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/novedades" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Novedades</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/nombramientos" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Nombramientos</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/tramites" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Trámites</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/becas" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Becas</a>
          </li>
          <li class="border-b border-black border-opacity-20">
            <a href="/academicas" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Act. Académicas</a>
          </li>
          <li>
            <a href="/contacto" class="block text-white py-2 px-6 hover:bg-green-600 transition duration-300">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Script para toggle del menú móvil -->
  <script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
      var menu = document.getElementById('mobile-menu');
      menu.classList.toggle('hidden');
    });
  </script>
  