html, body {
  font-family: 'Montserrat Variable', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el body tenga al menos la altura de la pantalla */
  display: flex;
  flex-direction: column;
}

body > .content {
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

footer {
  background-color: #000; /* Asegúrate de definir el color de fondo si no se hereda */
  color: #fff; /* Asegúrate de definir el color del texto si no se hereda */
}

button {
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}