---
import Layout from "../../Layouts/Layout.astro";
import { checkUserRole } from "../api/auth/roleBasedRedirect";
import UserTable from "../../components/jsx/userTable";
import Pastilla from "../../components/ActAcademicas/detalle/Pastilla.astro";
import Registro from "../../components/modales/Registro.astro";

// Obtener información del usuario y su rol
const userData = await checkUserRole(Astro, ["admin", "user", "guest"]);

// Si no está autenticado, redirigir
if (!userData) {
  return Astro.redirect("/signin");
}
---

<Layout title="Perfil">
  <Pastilla title="Gestor de usuarios" />
  <div class="max-w-6xl mx-auto p-4 md:p-8 mb-auto">
      <!-- Sección condicional de permisos para admins -->
      {userData.role === "admin" && (
        <div class="mb-6">
          <UserTable client:load />
          <Registro />
        </div>
        
      )}
</div>
     
</Layout>