---
const { price } = Astro.props;
---

<div class="flex md:justify-between text-center py-8 flex-col md:flex-row">
    <div class="md:w-[600px] py-6 bg-customBlue rounded-3xl md:rounded-none md:rounded-r-2xl text-white shadow-xl items-center hover:scale-105  transition-all duration-300 ease-in-out mt-6 md:mt-0">
        <h2 class="font-bold text-lg">Precio del Certificado</h2>
        <h1 class="pl-2 font-extrabold text-3xl text-customCyan">{price}</h1>
        
      </div>

    <div class="md:w-[600px] py-6 bg-customBlue rounded-3xl md:rounded-none md:rounded-l-2xl text-white shadow-xl items-center hover:scale-105  transition-all duration-300 ease-in-out mt-6 md:mt-0">
        <h2 class="font-bold text-lg">Metodo de Pago</h2>
        <h1 class="pl-2 font-extrabold text-3xl text-customCyan">Transferencia Bancaria</h1>
    </div>
</div>