---

---

<div class="container mx-auto p-2">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex justify-start border-2 border-customBlue rounded-3xl">
            <img src="https://github.com/AxelMaidana/Colegio-de-Enfermeria-del-Chaco/blob/master/public/cech-logo.png?raw=true" alt="Imagen 1" class="w-20 h-20 object-cover" />
        </div>
        <div class="flex justify-start border-2 border-customBlue rounded-3xl">
            <img src="https://github.com/AxelMaidana/Colegio-de-Enfermeria-del-Chaco/blob/master/public/cech-logo.png?raw=true" alt="Imagen 2" class="w-20 h-20 object-cover " />
        </div>
</div>