---
const { title } = Astro.props;
---

<div class="flex items-center justify-between py-8 pr-8">
    <!-- Pastilla de texto a la izquierda -->
    <div class="relative flex-shrink-0">
      <h3 class="md:text-2xl font-bold bg-customGreen text-white md:px-8 md:py-2.5 px-4 py-1 rounded-r-full text-center">
        {title}
      </h3>
    </div>
  </div>