---
import InfiniteCarrousel from '../jsx/InfiniteCarrousel.tsx';
import LocationMap from '../jsx/LocationMap.tsx';

const cards = [
{
    image: '/media/image1.png',
    date: '01/04/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image3.png',
    date: '01/03/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image1.png',
    date: '01/04/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image3.png',
    date: '01/03/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image1.png',
    date: '01/04/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image3.png',
    date: '01/03/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image1.png',
    date: '01/04/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
  {
    image: '/media/image3.png',
    date: '01/03/24',
    title: 'Lorem ipsum dolor sit',
    description: 'Descripción breve de la noticia...',
  },
];
---
<!-- Sección de noticia destacada -->
<section class="relative w-full h-[30rem] -mt-8 z-10">
  <img src="/media/banner.png" alt="Imagen principal" class="absolute top-0 left-0 w-full h-full object-cover z-0" />
  <div class="relative z-10 flex flex-col items-center justify-center h-full text-center md:text-center text-white p-4 md:p-6 bg-black bg-opacity-50">
    <h2 class="text-2xl md:text-4xl font-bold -mt-6 md:-mt-8">Colegio de Enfermería del Chaco</h2>
    <p class="mt-4 md:mt-6 text-base md:text-lg max-w-full md:max-w-4xl px-4 md:px-0">
      Espacio dedicado a la formación, capacitación y
desarrollo profesional de la comunidad de enfermería. Nos comprometemos a brindar
educación de calidad y ser el puente entre la teoría y la práctica.
    </p>
  </div>
</section>

  <!-- Sección de últimas noticias -->
<section class="mt-8">
  <div class="relative mx-0 w-max z-10">
    <h3 class="text-2xl font-bold mb-6 bg-customGreen text-white md:px-8 px-8 py-2.5 rounded-r-full text-center">Últimas Noticias</h3>
  </div>
  <div class="overflow-hidden">
    <InfiniteCarrousel client:load cards={cards} />
  </div>
</section>

 


<!-- Seccion de Ubicacion con mapa interactivo -->
  <LocationMap client:only="react" />

<!-- Sección de Formulario -->
    <section class="relative bg-customBlue text-white py-20 rounded-3xl z-10 -mt-6">
      <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-6">
    
<!-- Texto informativo -->
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-4xl md:text-6xl font-bold text-center md:text-center md:mb-4 ">¡Contáctanos!</h3>
        <p class="mb-6 mx-6 max-w-68 md:max-w-xl mt-8 text-center">¿Tienes alguna consulta o necesitas más información
          sobre nuestros cursos y servicios? 
          Completa el formulario y nos pondremos en
          contacto contigo a la brevedad.

        </p>
      </div>

<!-- Formulario -->
      <div class="bg-white md:p-6 p-6 mx-4 md:mx-0 rounded-2xl shadow-md text-gray-700 z-20">
        <h4 class="text-4xl font-semibold mb-6 text-center">Formulario de Contacto</h4>
        <div class="flex flex-col md:flex-row gap-6">
<!-- Formulario de Contacto -->
          <form class="space-y-6 flex-1">
            <input type="text" placeholder="Nombre y Apellido" class="w-full md:w-76 p-2 rounded-3xl border-gray-200 text-sm bg-gray-200" />
            <input type="text" placeholder="DNI" class="w-full md:w-76 p-2 rounded-3xl border-gray-200 text-sm bg-gray-200" />
            <input type="email" placeholder="Mail" class="w-full md:w-76 p-2 rounded-3xl border-gray-200 text-sm bg-gray-200" />
            <input type="text" placeholder="Teléfono" class="w-full md:w-76 p-2 rounded-3xl border-gray-200 text-sm bg-gray-200" />
          </form>

<!-- Imagen en la segunda columna -->
          <div class="flex-shrink-0">
            <img src="/media/subir imagen.jpeg" alt="Descripción de la imagen" class="md:w-80 w-full h-auto rounded-xl shadow-md">
          </div>
        </div>

<!-- Botón centrado -->
        <div class="flex justify-center mt-6">
          <button type="submit" class="w-full md:w-72 bg-customGreen font-medium text-white py-3 px-6 rounded-3xl hover:scale-105 transition-transform">Enviar</button>
        </div>
      </div>

  </div>
</section>
